/* global */
body {
    font-size: 24px !important;
    margin: 0;
    padding: 0;
    font-family: "ＭＳ ゴシック",sans-serif !important;
}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
p.center {
    width: 100%;
    text-align: center;
}
p.date {
    display: block;
    padding-block-start: 1em;
    padding-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: -10px;
}
.page-wrapper {
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
}
#header-menu {
    width: 100%;
    background-color: #00BCD4;
    color: white;
    font-weight: bold;
    padding: 20px 28px 17px 43px;
    box-sizing: border-box;
    line-height: 75px;
    font-size: 30px;
}
div.btn-menu-right {
    display: inline-block;
    text-decoration: none;
    background: #CDDC39;
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #a9b532;
    transition: .4s;
    font-size: 30px;
}

.menu-right:active {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
  background-image: linear-gradient(#e8f757 0%, #e8f757 100%);
}

h1.title {
    text-align: center;
}

#date-box{
    background-color: #FFF;
}

#date-box_saturday{
    background-color: #e1f5fe;
}

#date-box_sunday{
    background-color: #ffebee;
}

/* main */

div.day-arrow {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
#task-list {
    border-collapse: collapse;
    width: 100%;
}
#task-list .task {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 20px 40px;
    height: 70px;
    line-height: 70px;
}
div.check-kuma {
    padding: 0 10px;
}
div.check-kuma:before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 100px;
    height: 70px;
    content: '';
    display: inline-block;
}
div.check-kuma:before img { width: 100%; }
div.check-kuma.unchecked:before {
    opacity: 0.3;
    filter: grayscale(1);
}
div.check-kuma.min:before { background-image: url("../images/minkuma.png"); }
div.check-kuma.mun:before { background-image: url("../images/munkuma.png"); }


/* add-task */

.form-control {
    font-size: 28px !important;
    height: 60px !important;
}
.picker__input { background-color: #fff !important; }
.btn {
    font-size: 24px !important;
    height: 50px !important;
    padding: 0 30px !important;
}
.select-repeat { 
    width: 20% !important;
    display: inline !important;
}

.btn-add-task-menu:active {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
  background-image: linear-gradient(#e8f757 0%, #e8f757 100%);
}

.btn-add-task{
    color: #fff;
    background-color: #00BCD4;
    border-color: #0097A7;
    border-bottom: solid 5px #0097A7;
}

