/* global */
body {
    font-size: 24px !important;
    margin: 0;
    padding: 0;
    font-family: "ＭＳ ゴシック",sans-serif !important;
}
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
p.center {
    width: 100%;
    text-align: center;
}
p.date {
    display: block;
    padding-block-start: 1em;
    padding-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: -10px;
}
.page-wrapper {
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
}

#header-menu {
    width: 100%;
    background-color: #03a8f4;
    color: white;
    font-weight: bold;
    padding: 20px 28px 17px 43px;
    box-sizing: border-box;
    line-height: 75px;
    font-size: 30px;
    border-top: 15px solid #0487d1;
}
div.btn-menu-right {
    display: inline-block;
    text-decoration: none;
    background: #EF5350;
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #b5403e;
    transition: .4s;
    font-size: 30px;
}

.menu-right:active {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
  background-image: linear-gradient(#EF5350 0%, #EF5350 100%);
}

h1.title {
    text-align: center;
}

#date-box{
    background-color: #FFF;
}

#date-box_saturday{
    color: #03a8f4;
}

#date-box_sunday{
    color: #EF5350;
}

/* main */

div.day-arrow {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
#task-list {
    border-collapse: collapse;
    width: 100%;
}
#task-list .task {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 20px 40px;
    height: 70px;
    line-height: 70px;
}
div.check-kuma {
    padding: 0 10px;
}
div.check-kuma:before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 100px;
    height: 70px;
    content: '';
    display: inline-block;
}

div.check-kuma:before img { width: 100%; }
div.check-kuma.unchecked:before {
    opacity: 0.3;
    filter: grayscale(1);
}
div.check-kuma.min:before { background-image: url("../images/minkuma.png"); }
div.check-kuma.mun:before { background-image: url("../images/munkuma.png"); }

.notask{
    text-align: center;
    padding-top: 1em;
}


/* add-task */

.form-control {
    font-size: 28px !important;
    height: 60px !important;
}
.picker__input { background-color: #fff !important; }
.btn {
    font-size: 24px !important;
    height: 50px !important;
    padding: 0 30px !important;
}
.select-repeat { 
    width: 20% !important;
    display: inline !important;
}

.btn-add-task-menu:active {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
  background-image: linear-gradient(#EF5350 0%, #EF5350 100%);
}

.btn-add-task{
    color: #fff !important;
    background-color: #03a8f4 !important;
    border-color: #0487d1 !important;
    border-bottom: solid 5px #0487d1 !important;
}

.btn-remove-task{
    color: #fff !important;
    background-color: #EF5350 !important;
    border-color: #bb3e3c !important;
    border-bottom: solid 5px #bb3e3c !important;
}


/*popup*/
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 600px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
  border-radius: 20px;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}
.close-btn i {
  font-size: 30px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
